{% extends 'layout.html' %}

{% block content %}


            <div class = "col-md-9">
                <div class="row">

                    {% for elemento in elementos %}

                    <div class = "col-md-4">
                        <div class="card my-2">
                            <img class="card-img-top" src= "{{elemento.imagen.url}}">

                            
                            {% if filtro == 0 %} 
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{elemento.nombre}}</li>
                            </ul>
                            <a class= "btn btn-outline-dark btn-sm m-1" href="{% url 'galeria' %}?tipo_artista={{elemento.nombre}}">Ver</a>
                            {% elif filtro == 1%}

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Nombre: {{elemento.nombre}}</li>
                                <li class="list-group-item">Año: {{elemento.ano}}</li>
                                <li class="list-group-item">Autor: {{elemento.artista}}</li>
                                <li class="list-group-item">Galeria: {{elemento.galeria}}</li>
                                <li class="list-group-item">Precio($): {{elemento.precio}}</li>
                                <li class="list-group-item">Vendido: {{elemento.vendido}}</li>
                              </ul>

                            {% elif filtro == 2 %}

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Galeria: {{elemento.nombre}}</li>
                                <li class="list-group-item">Dirección: {{elemento.direccion}}</li>
                            </ul>

                            {% elif filtro == 3 %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Categoria: {{elemento.categoria}}</li>
                                <li class="list-group-item">Nombre: {{elemento.nombre}} {{elemento.apellido}}</li>
                                <li class="list-group-item">Apellido: {{elemento.edad}}</li>
                            </ul>
                                
                            {% endif %} 
                        </div>
                    </div>

                    {% endfor %}
                    
                </div>
            </div>


        </div>
    </div>
    
</body>
{% endblock %}
</html>

